@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.image-preview {
  background-position-x: center;
  background-position-y: top;
  background-size: auto 75%;
}

@media screen and (max-width: 640px) {
  .image-preview {
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: center;
  }

}